ESP/build/
ESP/debug.log
ESP/sdkconfig.old
build/
bootloader/
config/
CMakeFiles/
bootloader-prefix
.gitattributes
app-flash_args
esp-idf
flash_app_args
flash_args
flash_args.in
flash_bootloader_args
flash_project_args
flasher_args.json
kconfigs.in
kconfigs_projbuild.in
ldgen_libraries
ldgen_libraries.in
partition-table-flash_args
project_description.json
main/util_spiffs/util_spiffs.c.bak
CMakeCache.txt
/managed_components
/managed_components
spiffs/config.json
sdkconfig.old
